<h1>Laden wir eine Datei hoch</h1>

<form action="/uploadform" method="post" enctype="multipart/form-data">
  <label for="name">Name</label>
  <input type="text" name="name" id="name">
  <label for="ort">Ort</label>
  <input type="text" name="ort" id="ort">
  <label for="datei">wähle eine Datei aus</label>
  <input type="file" name="datei" id="datei">
  <button>Abschicken</button>
</form>